* {
    box-sizing: border-box;
}
  
/* Style the body */
body {
    font-family: 'Arial';
    margin: 0;   
}

.sticky{
    overflow-x: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: top 0.3s;
}

.menuBar{
    background-color: #2253C9;
    height: 4.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1175px;
    height: 4.5em;
    margin: 0px 58px;
}



.menuBarLeft {
    width: 35em;
    display: flex;
    justify-content: left;
    align-self: center;
    margin-right: 14px;
}

.hamburger{
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    position: relative;
    width: 44px;
    padding: 13px 13px 8px 13px;
    display: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.hamburger div{
    position: relative;
    width: 18px;
    margin-bottom: 4px;
    border-bottom: 2px solid white;
    transition: transform 0.2s ease-in-out;
}

.jioLogo {
    width: 2.8em;
    height: 2.8em;
}

.menuBarLeft a {
    align-self: center;
    margin-left: 3rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.menuBarLeft a:hover {
    color: #becefb;
}

.menuBarRight {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-self: center;
}

.menuBarRight form{
    width: 50.5%;
}

.menuBarRight input[type=text] {
    background-color: #0a2885;
    color: white;
    border: none;
    border-radius: 2em;
    font-weight: 500;
    padding: 10px 0px 10px 0px;
    width: 100%;
    min-width: 200px;
    height: 3em;
    background-image: url(images/searchIcons.png);
    background-position: 6px 10px;
    background-repeat: no-repeat;
    background-size: 31px 20px;
    padding-left: 3em;
    outline: none;
    margin-top: 0.5em;
}

.menuBarRight input[type=text]:hover{
    background-color: #061951;
}    

::placeholder{
    color: white;
    font-size: 1.2em;
    font-weight: 700;
}

.menuBarRight a{
    margin-left: 1.5em;
}

.questCartIcon  {
    width: 1.7em;
    height: 1.6em;
    margin-top: 0.8em;
    
}

#userIcon {
    width: 3em;
    height: 3em;
}

.menuBarRight a img:hover {
    background-color: #0a2885;
    background-size: 200px 200px;
    border-radius: 48%;
}

.navigation{
    height: 3.3em;
    background-color: #0a2885;
    margin-bottom: 4em;
}

.navContainer{ 
    padding: 0px 48px;
}

.navMenu{
    width: 1175px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: auto;
}

.navMenu a {
    height: 100%;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    margin-right: 1em;
}

.activeBottomBorder{
    color: #becefb;
    border-bottom-style: solid ;
    border-color: white;
    border-width: 3px;    
}

.navMenu a:hover:not(.active){
    color: #becefb;
    border-bottom-style: solid ;
    border-color: white;
}

/* offCanvas Sidebar */

.offCanvas{
    position: fixed;
    top: 72px;
    width: 0px;
    height: 100%;
    background-color: white;
    z-index: 10;
    opacity: 0;
    transition: width 0.4s, opacity 0.5s;
    display: none;
}

.offCanvasContainer{
    position: absolute;
    margin-top: 6px;
    top: 10px;
    height: 90vh;
    overflow-y: auto;
    width: 100%;
    background-color: white;
}

.offCanvasButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plusBtn{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 370px;
    height: 50px;
    margin: 8px 0px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1.5px solid #e0e0e0;  
    padding: 0px 0px 4px 0px;
    cursor: pointer;
}

/* .offCanvasButtons */

.plusContainer{
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.plusContainer:hover{
    background-color: #e7ebf8;
}

.plus{
    position: relative;
    top: 14px;
    left: 14px;
    width: 18px;
    height: 18px;
    
}

.plus1{
    position: absolute;
    top: 7px;
    width: 18px;
    border-bottom: 2px solid #0A2885;
}

.plus2{
    position: absolute;
    top: 7px;
    transform: rotate(90deg);
    width: 18px;
    border-bottom: 2px solid #0A2885;
}

.mobileCont{
    width: 370px;
    height: 0px;
    overflow-y: hidden;
    position: relative;
    z-index: 1;
    transition: height 0.5s;
}

.MobileContainer{
    display: flex;
    flex-direction: column;
}

.MobileContainer a{
    width: 100%;
    color:  #000000;
    text-decoration: none;
    height: 50px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0px;
    padding: 16px 0px 0px 12px;
    cursor: pointer;
}

/* Slideshow container */

.slideShow{
    margin-top: 0px;
}

.slideshowContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1275px;
    padding: 0px 48px;
    margin: auto;
    position: relative;
    margin-bottom: 1.5em;
}


/* Hide the images by default */
.mySlides{
    display: none;
}

.mySlides img{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0px 2px;
    background-color: #C4CFF2;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #2253C9;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}
  
  @-webkit-keyframes fade {
    from {opacity: 0.6}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 0.6}
    to {opacity: 1}
  }

.serviceButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 570px;
    margin-top: 3em;
    margin-bottom: 2.5em;
}

.serviceBtn{
    border: none;
    cursor: pointer;
    width: fit-content;
    padding: 16px;
    margin-right: 22px;
    color: #0a2885;
    font-size: 16px;
    font-weight: 900;
    background-color: transparent;
    border: 1px solid #E0E0E0;
    border-radius: 25px;

}

.serviceBtn:hover{
    border-color: #0a2885;
}

/* mobile data plans */

.Plans{
    width: 100%;
}

.plansContainer {
    max-width: 1275px;
    margin: auto;
    padding: 0px 48px;
}

#plansContainerHeading{
    /* font-family: 'Hind Madurai', 'sans-serif'; */
    font-size: 2.6em;
    font-weight: 1000;
    letter-spacing: 1px;
    line-height: 1.1;
    margin-bottom: 22px;
    
}

.planCardContainer{
    max-width: 1175px;
    display: flex;
    flex-direction: row;
}

.planCard {
    width: 32%;
    height: 395px;
    background-color: #e7ebf8;
    justify-content: flex-start;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 2em;
    border-radius: 15px; 
    height: auto;
    padding-bottom: 16px;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    padding-right: 10px;
}

.planName{
    background-color: #0C5273;
    color: white;
    font-weight: bold;
    width: fit-content;
    text-align: left;
    padding: 3px 7px;
    border-radius: 4px;
    height: auto;
}

.rupee{
    margin-top: -12px;
    font-size: 36px;
    font-weight: 1000;
    letter-spacing: 1px;
}

.textFormat{
    margin-top: -12px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.1;
    height: 74px;
    text-align: justify;
}

.apps {
    display: flex;
    flex-direction: row;
}

.apps img{
    width: 40px;
    height: 40px;
    margin-right: 9px;
}

.apps span{
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
}

.lineBorder{
    background-color: #E0E0E0;
    height: 2px;
    margin-top: 22px;
    width: 96%
}

.validityBenefits{
    display: flex;
    flex-direction: row;
    width: 69%;
    justify-content: space-between;
    height: 70px;
}

.validity {
    width: 72px;
}

.validity #val{
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
}

.validity #day{
    width: 64px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.1;
    margin-top: -8px;
}

.benefits{
    width: 89px;
    margin-left: 10px;
}

.benefits #ben{
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
}

.benefits #perDay{
    width: 85px;
    font-size: 16px;
    font-weight: bold;
    margin-top: -8px;
}

.planBtnContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.planBtnContainer button{
    width: 10.3em;
    min-width: 2em;
    border: none;
    cursor: pointer;
    padding: 15px 19px;
    color: white;
    font-size: 16px;
    font-weight: 900;
    background-color: #0F3CC9;
    border-radius: 25px;
}

.planBtnContainer button:hover{
    background-color: #0a2885;
}

.planBtnContainer a{
    width: 96px;
    text-decoration: none;
    color: #0A2885;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    margin: auto;
}

.viewAllPlan{
    margin-bottom: 1.5em;
}

.Product{
    display: flex;
    justify-content: center;
    align-items: center;
}

.productContainer {
    display: flex;
    flex-direction: column;
    max-width: 1175px;
    margin: 0px 48px;
    
}

.productContainer #productContainerHeading{
    /* font-family: 'Hind Madurai', 'sans-serif'; */
    font-size: 2.6em;
    font-weight: 1000;
    letter-spacing: 1px;
    line-height: 1.1;
    margin-bottom: 22px;
}

.productCardContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.productCard {
    background-color: white;
    justify-content: flex-start;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 2em;
    border-radius: 15px; 
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0), 0 6px 16px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.jioApps{
    display: flex;
    justify-content: center;
    align-items: center;
}

.productCard img{
    width: 100%;
}

.imageContent{
    margin-left: 25px;
}

.productCard #emi{
    margin-top: -48px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
}

.jioPhoneLabel{
    margin-top: 23px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.1;
    height: 2.5em;
}

.JioAppsContainer{
    margin-top: 28px;
    width: 1175px;
}

.jioAppsCardHeight {
    padding-bottom: 18px;
    width: 100%;
}

.productCard img{
    border-radius: 16px;
}

.MyJioLogo{
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    margin-left: -9px;
}

.MyJioLogo img{
    width: 40px;
    height: 40px;
}

.myJioLabel{
    margin-top: 13px;
    margin-left: 9px;
}

#myJioLabelDetails{
    margin-top: -16px;
    margin-left: -9px;
    margin-bottom: 28px;
    font-size: 16px;
    font-weight: 600;
    height: 21px;
    color: rgba(0, 0, 0, 0.65);
}

.appBtn{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: -10px;
    justify-content: space-between;
}

.appBtn button{
    border: none;
    cursor: pointer;
    padding: 8px;
    color: white;
    font-size: 16px;
    font-weight: 900;
    background-color: #0F3CC9;
    border-radius: 25px;
    width: 90px;
    height: 36px;
    padding: 0px 4px;
}

.appBtn button:hover{
    background-color: #0a2885;
}

.appBtn a {
    text-decoration: none;
    color: #0A2885;
    font-size: 16px;
    font-weight: 900;
    margin: auto;
    margin-left: 28px;
}

.MoreJio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.moreFromJioConatiner{
    margin-bottom: 48px;
}


.moreAppPartnerImage img{
    width: 100%;
    height: 100%;  
}

.moreAppPartnerImage{
    width: 50%;
    height: 17em;
    box-shadow: none;
}

.moreAppStyleImage img{
    width: 100%;
    height: 100%;  
}

.moreAppStyleImage{
    width: 50%;
    height: 17em;
    box-shadow: none;
}



.contactContainer{
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
}

.contactDetailsContainer{
    max-width: 1175px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 42px;
}

.listsChange{
    width: 100%;
    height: auto;
}

.lists{
    width: 15%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 23px;
}

.listsChange{
    display: none;
}

.lists h1{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 22px;
}

.lists a{
    text-decoration:  none;
    color: #000000A6;
    padding: 9px 3px;
    font-size: 14px;
    font-weight: bold;
}

.lists a:hover{
    background-color: #e0e0e0;
}

.listAllContainers{
    width: 100%;
    height: 0px;
    overflow-y: hidden;
    position: relative;
    transition: height 0.5s;
}

.listContainer{
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
}

.listContainer a{
    width: 100%;
    color:  #000000;
    text-decoration: none;
    height: 25px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0px;
    padding-left: 16px;
    cursor: pointer;
}



.connectContainer{
 display: flex;
 flex-direction: column;
 height: 90%;
 margin-top: 27px;
 margin-left: 22px;
}

.connectContainer h1{
    font-size: 22px;
    font-weight: 1000;
    letter-spacing: 0.8px;
}

.socialMedia{
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
}

.blueCircle{
    background-color: #0F3CC9;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    padding: 8px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.blueCircle:hover{
    background-color: #0a2885;
}


.blueCircle img{
    width: 16px; 
    height: 14px;
}

.appStore img{
    margin-right: 12px;
}


/* List Change */

.listsChange{
    width: 93%;
    margin: auto;
}

.plusBtnChange{
    width: 100%;
    color: #141414;
}




/* footer container */



.footerCenter{  
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
    height: auto;
    border-top: 1px solid #e0e0e0;  
    justify-content: center;
    align-items: center;
}

.footerContent{
    display: flex;
    width: 1175px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 48px; 
}

.footerLeft{
    display: inline;
    width: 28em;
    margin-top: 10px;   
}

.footerLeft img{
    float: left;
}

.footerLeft h1{
    color: #000000A6;
    font-size: 12px;
    padding: 4px 0px;
    font-weight: bold;
    margin-left: 62px;
}

.footerRight{
    display: flex;
    flex-direction: row;
    width: 388px;
    margin-top: 8px;
    justify-content: right;
    align-self: center;
}

.footerRight a{
    float: right;
    text-decoration: none;
    color: #000000A6;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 10px;
}

.footerRight a:hover{
    color: #0a2885;
}

.verticalLine{
    background-color: #000000A6;
    height: 15px;
    width: 2px;
    opacity: 0.2;
    margin-left: 5px;
    
}


